<div class="container-full">
  <div class="row">
    <nav class="navbar">
      <div class="nav-wrapper">
        <div class="col s12">
          <ul class="left">
            <li><a href="/#/" class="navbar__brand">myVOD</a></li>
            <li><a href="/#/admin">Watching</a></li>
            <li><a href="/#/admin">New Arrivals</a></li>
            <li><a href="/#/admin">TV Shows</a></li>
            <li><a href="/#/admin">Channels</a></li>
            <li><a href="/#/admin">Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
