body {
  background-color: #424242;
}

nav {
  background-color: transparent;
}
.navbar__brand {
  font-size: 170%;
  font-weight: bold;
}
.navbar__brand:hover {
}


.page-not-found {
  min-height: 500px;
}
.page-not-found__body {
  width: 100%;
}
.page-not-found__text {
  color: #FAFAFA;
}
